{% extends 'base.html' %}

{% load static %}

{% block content %}

<article>
    <div class="container my-3">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            
          <h1 class="border-bottom py-2">{{ presenting.subject }}</h1>    
            <p>
                {{ presenting.content }}
            </p>

                  <!--제안내용을 모두 표시하는 부분-->
            <h5 class="border-bottom my-3 py-2">{{ presenting.suggestion_set.count }}개의 제안이 있습니다.</h5>
            
            <div>
                {% for suggestion in presenting.suggestion_set.all %}
                <div class="card my-3">
                  <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">
                        {{ suggestion.content }}
                    </div>

                    <div class="d-flex justify-content-end">
                      <div class="badge badge-light p-2">
                          {{ suggestion.create_date }}
                      </div>
                    </div>

                  </div>
                </div>
                {% endfor %}
            </div>

                <!-- 새로운 제안을 입력하고 등록버턴을 누르면 제안내용을 제시안건과 연결하여 저장한다.-->
                <form action="{% url 'forum:suggestion_create' presenting.id %}" method="post" class="my-3">
                  {% csrf_token %}
                  <div class="form-group">
                     <textarea name="content" id="content" class="form-control" rows="10"></textarea>
                  </div>
                  <input type="submit" value="제안등록" class="btn btn-primary">
                </form>
            
        </div>
      </div>
    </div>
</article>


<hr>


{% endblock %}
