{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="container">
    <div class="row">
        
        {% if 제시목록 %}
            {% for 안건 in 제시목록 %}

        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="{% url 'forum:detail' 안건.id %}">
                    <h2 class="post-title">
                        {{ 안건.subject }}
                    </h2>
                </a>
                    <p class="post-subtitle">
                        {{ 안건.content }}
                    </p>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a> {{ 안건.create_date }}
                    </p>
            </div>
           <hr>
       </div>

           {% endfor %}
       {% endif %}


    </div>

    <div class="col-lg-8 col-md-10 mx-auto">
        <a href="{% url 'forum:presenting_create' %}" class="btn btn-primary">새 안건 제시하기</a>
    </div>

</div>




{% endblock %}



